body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
    display: inline-flex;
    flex-flow: row wrap;
    height: 400px;
    width: 220px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    background-color: ghostwhite;
}

.flex-container.stretch {
    align-content: stretch;
}

.flex-container.flex-start {
    align-content: flex-start;
}

.flex-container.flex-end {
    align-content: flex-end;
}

.flex-container.center {
    align-content: center;
}

.flex-container.space-around {
    align-content: space-around;
}

.flex-container.space-between {
    align-content: space-between;
}

.flex-container.space-evenly {
    align-content: space-evenly;
}

.flex-item {
    width: 100%;
    height: 50px;
    margin: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
}

.color-lightseagreen {
    background-color: lightseagreen;
}

.color-red {
    background-color: darksalmon;
}

.color-blue {
    background-color: dodgerblue;
}

.color-green {
    background-color: forestgreen;
}

.color-yellow {
    background-color: gold;
}

.color-pupple {
    background-color: rebeccapurple;
}

.color-orange {
    background-color: orange;
}

